altgraph==0.17.3
asgiref==3.6.0
autopep8==2.0.2
blinker==1.6.2
branca==0.6.0
certifi==2023.5.7
cffi==1.15.1
cftime==1.6.2
charset-normalizer==3.1.0
click==8.1.6
colorama==0.4.6
contourpy==1.0.7
cryptography==41.0.3
cycler==0.11.0
distro==1.8.0
Django==4.2.1
djangorestframework==3.14.0
et-xmlfile==1.1.0
Flask==2.3.2
folium==0.14.0
fonttools==4.39.4
h5netcdf==1.1.0
h5py==3.8.0
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
kiwisolver==1.4.4
LambdaCal==1.0.0
MarkupSafe==2.1.2
matplotlib==3.7.1
mysqlclient==2.1.1
netCDF4==1.6.3
numpy==1.24.3
OOPs==1.0.0
openpyxl==3.1.2
packaging==23.1
pandas==2.0.1
pdfminer.six==20221105
pdfplumber==0.10.2
pefile==2023.2.7
Pillow==9.5.0
pycodestyle==2.10.0
pycparser==2.21
pyinstaller==5.13.0
pyinstaller-hooks-contrib==2023.7
pyparsing==3.0.9
PyPDF2==3.0.1
pypdfium2==4.18.0
python-dateutil==2.8.2
pytz==2023.3
pywin32-ctypes==0.2.2
requests==2.30.0
scipy==1.10.1
six==1.16.0
sqlparse==0.4.4
tabula==1.0.5
tabula-py==2.7.0
tzdata==2023.3
urllib3==2.0.2
Werkzeug==2.3.6
windrose==1.8.1
xarray==2023.4.2
